* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    max-width: 100%;
    overflow-X: hidden;
}

body {
    background-color: #f5f5f5;
    padding-top: 50px;
}

#cookie {
    width: 60%;
    height: 70%;
    justify-content: center;
    overflow: hidden;
    display: block;
    margin: auto;
}

#cookie-count {
    font-size: 24px;
}

.p {
    size: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
